Repository andsild/qwde: changes, and which Jenkins stages are due for each by the changed paths.
All: Gradle build backend, Gradle build frontend, Publish backend

Gradle build backend:
        steps {
          dir("${env.WORKSPACE}/backend") {
            withGradle {
              sh './gradlew build check --info'
            }
          }
        }
      

Gradle build frontend:
        steps {
          dir("${env.WORKSPACE}/frontend") {
            withGradle {
              sh './gradlew build --info'
            }
          }
        }
      

Publish backend:
        steps {
          dir("${env.WORKSPACE}/backend") {
            withGradle {
              sh './gradlew publish'
            }
            sh '''
              set +x # don't expose password
              token="$(cat /run/secrets/deploy-password)"
  ...

<Mongoose> knghtbrd: and the meek shall inherit k-mart
  README.md
  backend/README.md
Due: Gradle build backend, Publish backend

love, n.: Love ties in a knot in the end of the rope.
  .gitignore
  Jenkinsfile
  frontend/Dockerfile
  frontend/build.gradle.kts
  frontend/default.nix
  frontend/nix/default.nix
  frontend/nix/haskell/packages/ghc865/default.nix
  frontend/nix/haskell/packages/ghcjs/default.nix
  frontend/nix/haskell/packages/source.nix
  frontend/nix/nixpkgs.json
  frontend/nix/overlay.nix
  frontend/qwdeserver/Html.hs
  frontend/qwdeutil/Test/Data/Graph/Plotter.hs
  frontend/qwdeutil/qwdeutil.cabal
Due: Gradle build frontend

"If Ricky Schroder and Gary Coleman had a fight on television with pool cues, who would win? 1) Ricky Schroder 2) Gary Coleman 3) The television viewing public" -- David Letterman
  frontend/build.gradle.kts
  frontend/makeZip.sh
Due: Gradle build frontend

"You who hate the Jews so, why did you adopt their religion?" -- Friedrich Nietzsche, addressing anti-semitic Christians
  Jenkinsfile
Due: none

What the scientists have in their briefcases is terrifying. -- Nikita Khruschev
  frontend/README.md
Due: Gradle build frontend

If any man wishes to be humbled and mortified, let him become president of Harvard. -- Edward Holyoke
  frontend/README.md
  frontend/build.gradle.kts
Due: Gradle build frontend

Do people like check the Debian website every 5 minutes to check it hasn't morphed into another one? Not that I'm one to talk, but some people seriously need to get a life. -- james on #Debian
  Jenkinsfile
  frontend/README.md
  frontend/build.gradle.kts
Due: Gradle build frontend

If you fool around with something long enough, it will eventually break.
  frontend/CHANGELOG.md
Due: Gradle build frontend

Auribus teneo lupum. [I hold a wolf by the ears.] [Boy, it *sounds* good. But what does it *mean*?]
  frontend/CHANGELOG.md
Due: Gradle build frontend

pain, n.: One thing, at least it proves that you're alive!
  Jenkinsfile
Due: none

Words must be weighed, not counted.
  Jenkinsfile
  frontend/qwdeshared/Shared/Page/Template.hs
  frontend/qwdeshared/Shared/Util/Constants.hs
Due: Gradle build frontend

I'm not a real movie star -- I've still got the same wife I started out with twenty-eight years ago. -- Will Rogers
  frontend/build.gradle.kts
Due: Gradle build frontend

You know you have a small apartment when Rice Krispies echo. -- S. Rickly Christian
  frontend/README.md
  frontend/build.gradle.kts
Due: Gradle build frontend

All life evolves by the differential survival of replicating entities. -- Dawkins
  frontend/qwdeclient/Main.hs
Due: Gradle build frontend

"I'm returning this note to you, instead of your paper, because it (your paper) presently occupies the bottom of my bird cage." -- English Professor, Providence College
  frontend/Dockerfile
  frontend/Dockerfile_build
  frontend/dependencies.nix
  frontend/qwdeshared/Shared/Page/Template.hs
Due: Gradle build frontend

Vermouth always makes me brilliant unless it makes me idiotic. -- E. F. Benson
  frontend/Dockerfile
  frontend/qwdeshared/Shared/Page/Template.hs
Due: Gradle build frontend

Where's the man could ease a heart Like a satin gown? -- Dorothy Parker, "The Satin Dress"
  Jenkinsfile
  frontend/qwdeshared/Shared/Page/Template.hs
Due: Gradle build frontend

"Though a program be but three lines long, someday it will have to be maintained." -- The Tao of Programming
  Jenkinsfile
  frontend/qwdeshared/Shared/Page/Template.hs
Due: Gradle build frontend

A few hours grace before the madness begins again.
  Jenkinsfile
  frontend/Dockerfile
  frontend/default.nix
  frontend/qwdeserver/Html.hs
Due: Gradle build frontend

This will be a memorable month -- no matter how hard you try to forget it.
  frontend/Dockerfile
  frontend/Dockerfile_build
  frontend/qwdeserver/Html.hs
Due: Gradle build frontend

QOTD: "A child of 5 could understand this! Fetch me a child of 5."
  frontend/Dockerfile
  frontend/Dockerfile_build
  frontend/qwdeserver/Html.hs
Due: Gradle build frontend

Marriage, n.: The evil aye.
  Jenkinsfile
Due: none

Honesty is for the most part less profitable than dishonesty. -- Plato
  frontend/qwdeserver/Main.hs
Due: Gradle build frontend

Quack! Quack!! Quack!!
  frontend/Dockerfile
  frontend/qwdeserver/Main.hs
Due: Gradle build frontend

To ordinary folks, conversion is not always automatic. It's something that may or may not require explicit assistance. See Billy Graham. :-) -- Larry Wall in <199710141738.KAA22289@wall.org>
  backend/trading/src/main/java/qwde/trading/model/Summary.java
  backend/webapi/build.gradle.kts
  backend/webapi/src/main/java/qwde/webapi/App.java
  backend/webapi/src/main/resources/application-test.yml
  backend/webapi/src/main/resources/application.yml
  frontend/qwdeclient/Main.hs
  frontend/qwdeshared/Shared/Page/Template.hs
Due: Gradle build backend, Gradle build frontend, Publish backend

I don't know why we're here, I say we all go home and free associate.
  frontend/qwdeserver/Main.hs
Due: Gradle build frontend

A wide-eyed, innocent UNICORN, poised delicately in a MEADOW filled with LILACS, LOLLIPOPS & small CHILDREN at the HUSH of twilight??
  Jenkinsfile
  backend/webapi/src/main/java/qwde/webapi/App.java
Due: Gradle build backend, Publish backend

This land is full of trousers! this land is full of mausers! And pussycats to eat them when the sun goes down! -- Firesign Theater
  backend/webapi/src/main/java/qwde/webapi/App.java
Due: Gradle build backend, Publish backend

If you can't learn to do it well, learn to enjoy doing it badly.
  frontend/qwdeclient/Main.hs
Due: Gradle build frontend

It has been said that man is a rational animal. All my life I have been searching for evidence which could support this. -- Bertrand Russell
  Jenkinsfile
  frontend/qwdeclient/Main.hs
Due: Gradle build frontend

This is a scsi driver, scraes the shit out of me, therefore I tapdanced and wrote a unix clone around it (C) by linus -- Somewhere in the kernel tree
  frontend/qwdeclient/Main.hs
  frontend/qwdeserver/Main.hs
Due: Gradle build frontend

Remark of Dr. Baldwin's concerning upstarts: We don't care to eat toadstools that think they are truffles. -- Mark Twain, "Pudd'nhead Wilson's Calendar"
  frontend/qwdeshared/Shared/Page/Template.hs
Due: Gradle build frontend

No passing.
  backend/webapi/src/main/java/qwde/webapi/servlets/Tickers.java
Due: Gradle build backend, Publish backend

The glances over cocktails That seemed to be so sweet Don't seem quite so amorous Over Shredded Wheat
  frontend/build_localhost.sh
Due: Gradle build frontend

He who laughs has not yet heard the bad news. -- Bertolt Brecht
  frontend/qwdeserver/Html.hs
Due: Gradle build frontend

Time and tide wait for no man.
  frontend/.gitignore
  frontend/qwdeutil/Test/TestMain.hs
Due: Gradle build frontend

Murphy's Law, that brash proletarian restatement of Godel's Theorem. -- Thomas Pynchon, "Gravity's Rainbow"
  frontend/qwdeshared/Shared/Page/Home.hs
  frontend/qwdeshared/Test/TestMain.hs
  frontend/qwdeutil/Test/TestMain.hs
Due: Gradle build frontend

The person who can smile when something goes wrong has thought of someone to blame it on.
  frontend/qwdeclient/Main.hs
  frontend/qwdeclient/Widget/Flatpickr.hs
  frontend/qwdeclient/qwdeclient.cabal
  frontend/qwdeserver/Html.hs
  frontend/qwdeserver/Main.hs
  frontend/qwdeshared/Shared/Page/Home.hs
  frontend/qwdeshared/Shared/Page/Plots.hs
  frontend/qwdeshared/Shared/Scene/Actions.hs
  frontend/qwdeshared/Shared/Scene/Model.hs
  frontend/qwdeshared/Shared/Scene/Routes.hs
  frontend/qwdeshared/Shared/Util/Plot.hs
  frontend/qwdeshared/Shared/Widget/Flatpickr.hs
  frontend/qwdeshared/Test/TestMain.hs
Due: Gradle build frontend

If things don't improve soon, you'd better ask them to stop helping you.
  frontend/qwdeclient/Main.hs
  frontend/qwdeserver/Html.hs
  frontend/qwdeserver/Main.hs
  frontend/qwdeshared/Shared/Page/Home.hs
  frontend/qwdeshared/Shared/Page/Template.hs
  frontend/qwdeshared/Shared/Scene/Model.hs
  frontend/qwdeshared/Shared/Util/Plot.hs
  frontend/qwdeshared/Shared/Util/Web.hs
Due: Gradle build frontend

Systems programmers are the high priests of a low cult. -- R. S. Barton
  README.md
  backend/README.md
  backend/webapi/src/main/resources/application.yml
  frontend/README.md
  frontend/Setup.hs.save0
  frontend/build.sh
  frontend/qwdeshared/Shared/Page/Home.hs
  frontend/qwdeshared/Shared/Page/Template.hs
  frontend/qwdeshared/Shared/Scene/Model.hs
  frontend/qwdeshared/Shared/Util/Plot.hs
  frontend/qwdeshared/Test/TestMain.hs
  frontend/qwdeutil/Data/Graph/Plotter.hs
  frontend/qwdeutil/Test/Data/Graph/Plotter.hs
  frontend/qwdeutil/Test/TestMain.hs
  frontend/qwdeutil/qwdeutil.cabal
  frontend/test_server.py
Due: Gradle build backend, Gradle build frontend, Publish backend

Path conditions:
  Gradle build backend: any of: backend/**
  Gradle build frontend: any of: frontend/**
  Publish backend: any of: backend/**
